* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Roboto", "Montserrat", sans-serif;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/am.webp');
    background-size: cover;
    z-index: -1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    color: white;
    font-size: 1.25rem;
}

.bank-logos img {
    margin-bottom: 1rem;
}

.account-list {
    list-style-type: none;
    padding-left: 0;
}

.account-list li {
    color: white;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.mt-4 {
    margin-top: 1.5rem;
}
.accounts{
    color: white;
    font-size: 1.25rem;
    background-color: rgba(199, 199, 199, 0.5);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
@media (max-width: 768px) {
    .container {
        text-align: center;
    }

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
    }

    .bank-logos img {
        width: 150px;
    }

    .account-list li {
        font-size: 0.875rem;
    }
    .background-image {
        background-image: url('img/am.webp');
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        z-index: -1;
    }
}
